Source: deepin-qt5-helper
Section: metapackages
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.1

Package: deepin-qt5-helper
Architecture: any
Depends: ${misc:Depends}, qt5-default, qtcreator,
Recommends: ${misc:Depends},
 qtdeclarative5-dev
Description: Qt 5 Development Environment
  Qt 5 Development Envrionment packages
